USE [master]
GO
/****** Object:  Database [ADIS]    Script Date: 12/17/2014 10:12:39 AM ******/
CREATE DATABASE [ADIS] ON  PRIMARY 
( NAME = N'ADIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.LOCAL2008\MSSQL\DATA\ADIS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ADIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.LOCAL2008\MSSQL\DATA\ADIS_log.ldf' , SIZE = 6144KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADIS]
GO
/****** Object:  Schema [adis]    Script Date: 12/17/2014 10:12:39 AM ******/
CREATE SCHEMA [adis]
GO
/****** Object:  Table [adis].[ADIS_DBO]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_DBO](
	[DBO_GU] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ASSEMBLY] [nvarchar](255) NOT NULL,
	[NAMESPACE] [nvarchar](255) NOT NULL,
	[ROUTE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADIS_DBO] PRIMARY KEY CLUSTERED 
(
	[DBO_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_DBO_PROPS]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_DBO_PROPS](
	[PROPERTY_GU] [uniqueidentifier] NOT NULL,
	[DBO_GU] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_ADIS_DBO_PROPS] PRIMARY KEY CLUSTERED 
(
	[PROPERTY_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_ORG_SECURITY_GRPS]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_ORG_SECURITY_GRPS](
	[ORG_SECURITY_GRP_GU] [uniqueidentifier] NULL,
	[ORG_UNIT_GU] [uniqueidentifier] NOT NULL,
	[SECURITY_GROUP_GU] [uniqueidentifier] NOT NULL,
	[ADD_DATE] [smalldatetime] NOT NULL,
	[ADD_GU] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_ORG_UNIT]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_ORG_UNIT](
	[ORG_UNIT_GU] [uniqueidentifier] NOT NULL,
	[PARENT_GU] [uniqueidentifier] NULL,
	[LONG_NAME] [nvarchar](255) NOT NULL,
	[SHORT_NAME] [nvarchar](20) NOT NULL,
	[URL] [nvarchar](255) NULL,
	[CHANGE_DATE] [smalldatetime] NOT NULL,
	[ADD_DATE] [smalldatetime] NOT NULL,
	[CHANGE_GU] [uniqueidentifier] NOT NULL,
	[ADD_GU] [uniqueidentifier] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ADIS_ORG_UNIT] PRIMARY KEY CLUSTERED 
(
	[ORG_UNIT_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_SECURABLE]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_SECURABLE](
	[SECURABLE_GU] [uniqueidentifier] NOT NULL,
	[SECURITY_GROUP_GU] [nchar](10) NOT NULL,
	[SECURABLE_OBJECT_GU] [uniqueidentifier] NOT NULL,
	[ACCESS_TYPE] [smallint] NOT NULL,
	[SECURABLE_PARENT_GU] [uniqueidentifier] NULL,
	[TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADIS_SECURABLE] PRIMARY KEY CLUSTERED 
(
	[SECURABLE_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_SECURITY_GROUP]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_SECURITY_GROUP](
	[SECURITY_GROUP_GU] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[BINDING_TYPE] [nvarchar](50) NOT NULL,
	[PARENT_SECURITY_GRP_GU] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ADIS_SECURITY_GROUP] PRIMARY KEY CLUSTERED 
(
	[SECURITY_GROUP_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_USER]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_USER](
	[USER_GU] [uniqueidentifier] NOT NULL,
	[LOGIN_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[PASSWORD_SALT] [nvarchar](255) NULL,
	[IS_ADMINISTRATOR] [bit] NOT NULL,
	[USER_TYPE] [uniqueidentifier] NOT NULL,
	[CHANGE_DATE] [smalldatetime] NOT NULL,
	[ADDED_DATE] [smalldatetime] NOT NULL,
	[ADDED_GU] [uniqueidentifier] NOT NULL,
	[CHANGED_GU] [uniqueidentifier] NOT NULL,
	[LAST_LOGIN] [smalldatetime] NOT NULL,
	[FIRST_LOGIN] [smalldatetime] NOT NULL,
	[EXPIRES] [bit] NOT NULL,
	[EXPIRES_DATE] [smalldatetime] NULL,
	[NUM_LOGINS] [int] NOT NULL,
	[BINDING_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ADIS_USER] PRIMARY KEY CLUSTERED 
(
	[USER_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [adis].[ADIS_USER_AVAILABILITY]    Script Date: 12/17/2014 10:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adis].[ADIS_USER_AVAILABILITY](
	[AVAILABILITY_GU] [uniqueidentifier] NOT NULL,
	[USER_GU] [uniqueidentifier] NULL,
	[ALLOW] [bit] NOT NULL,
	[START_TIME] [time](7) NOT NULL,
	[DAY] [tinyint] NULL,
	[END_TIME] [time](7) NOT NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
 CONSTRAINT [PK_ADIS_USER_AVAILABILITY] PRIMARY KEY CLUSTERED 
(
	[AVAILABILITY_GU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
